.s-app-menu {
  --s-app-menu-bg: #ffffff;
  --s-app-menu-text-color: #374151;
  --s-app-menu-border-color: #e5e7eb;
  --s-app-menu-hover-bg: #0d6efd;
  --s-app-menu-active-text-color: #3b82f6;
  --s-app-menu-hover-text-color: #fff;

  --s-app-menu-space: 10px;
  --s-app-menu-border-radius: .375rem;
  --s-app-menu-nav-item-space: 3px;
  --s-app-menu-nav-icon-space: 8px;
  --s-app-menu-nav-icon-size: 24px;


  width: 250px;
  height: 100vh;

  padding: var(--s-app-menu-space);
  background-color: var(--s-app-menu-bg);
  border-right: 1px solid var(--s-app-menu-border-color);

  .s-menu {
    width: 100%;
  }

  .s-app-menu-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: var(--s-app-menu-nav-item-space);

    .s-app-menu-brand-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--s-app-menu-nav-icon-space);
      width: var(--s-app-menu-nav-icon-size);
      height: var(--s-app-menu-nav-icon-size);
      background-color: var(--s-app-menu-hover-bg);
      color: var(--s-app-menu-hover-text-color);
    }
  }

}