.s-menu,
.s-submenu {
  list-style: none;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
  }
}

.s-menu {
  --s-menu-bg: #ffffff;
  --s-menu-text-color: #333;
  --s-menu-hover-bg: #0d6efd;
  --s-menu-hover-text-color: #fff;
  --s-menu-active-text-color: #3b82f6;

  --s-menu-border-color: #e5e7eb;
  --s-menu-border-width: 1px;
  --s-menu-border-radius: 0;//.375rem;

  --s-menu-padding: 0;
  --s-menu-item-space: 5px;
  --s-menu-icon-space: 5px;
  --s-menu-icon-size: 24px;
  --s-menu-dropdown-arrow: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'><path d='M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z'/></svg>");

  display: inline-flex;
  flex-direction: column;
  padding: var(--s-menu-padding) !important;
  border-width: var(--s-menu-border-width) !important;
  border-radius: var(--s-menu-border-radius) !important;
  overflow-y: auto;

  &.s-menu-horizontal {
    flex-direction: row;
    overflow-y: inherit;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar {
    width: 16px;
  }

  > li > .s-menu-link {
    padding: var(--s-menu-item-space) calc(var(--s-menu-item-space) + var(--s-menu-icon-space)) var(--s-menu-item-space) var(--s-menu-item-space) !important;
  }

  .s-menu-link {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    border-radius: var(--s-menu-border-radius);
    color: var(--s-menu-text-color);
    gap: var(--s-menu-item-space);
    padding-right: var(--s-menu-item-space);

    &:hover {
      background-color: var(--s-menu-hover-bg);
      color: var(--s-menu-hover-text-color);
    }

    &[data-bs-toggle="s-popup"] {
      position: relative;
      padding-right: 40px !important;

      &::after {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        right: 5px;
        display: inline-block;
        background-color: var(--s-menu-text-color);
        mask: var(--s-menu-dropdown-arrow) no-repeat center/contain;
        -webkit-mask: var(--s-menu-dropdown-arrow) no-repeat center/contain;
      }

      &:hover::after {
        background-color: var(--s-menu-hover-text-color);
      }
    }

    > .s-menu-icon {
      box-sizing: content-box;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: var(--s-menu-icon-space);
      width: var(--s-menu-icon-size);
      height: var(--s-menu-icon-size);

      > i {
        font-size: var(--s-menu-icon-size);
        line-height: var(--s-menu-icon-size);
      }

      > svg {
        flex-shrink: 0;
        fill: var(--s-menu-text-color);
        width: var(--s-menu-icon-size);
        height: var(--s-menu-icon-size);
      }
    }

    > .s-menu-caption {
      flex: 1;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .s-submenu {
    z-index: 1;
    &:not(.s-show) {
      display: none;
    }

    background-color: var(--s-menu-bg);

    .s-menu-link {
      padding-left: var(--s-menu-icon-size) !important;
    }

    .s-submenu .s-menu-link {
      padding-left: calc(var(--s-menu-icon-size) * 1.8) !important;
    }
  }

  &.s-menu-close {
    overflow-y: inherit;
    max-width: calc(
            var(--s-menu-icon-size) +
            var(--s-menu-icon-space) +
            var(--s-menu-icon-space) +
            var(--s-menu-item-space) +
            var(--s-menu-item-space)) !important;

    > li {
      > .s-menu-link[data-bs-toggle="s-popup"]::after {
        display: none;
      }

      [data-bs-toggle="s-popup"]::after {
        transform: rotate(-90deg);
      }
    }
  }

  &.s-menu-horizontal {
    li {
      .s-submenu {
        > li {
          [data-bs-toggle="s-popup"]::after {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  &.s-menu-close,
  &.s-menu-horizontal {
    .s-submenu.s-show {
      padding: 5px;
      border: 1px solid var(--s-menu-border-color);
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
      border-radius: var(--s-menu-border-radius);

      .s-menu-link {
        padding-left: calc(var(--s-menu-item-space)) !important;
        padding-right: calc(var(--s-menu-item-space)) !important;
      }
    }
  }
}