@use "mixin" as *;

@include color-mode(dark) {
  .sidebar {
    --s-sidebar-bg: #2b3035;
    --s-sidebar-text-color: #dee2e6;
    --s-sidebar-border-color: #374151;
    --s-sidebar-hover-bg: #212529;
    --s-sidebar-active-text-color: #3b82f6;

    --s-sidebar-toggle-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/> </svg>') no-repeat center/contain;
    --s-sidebar-nav-dropdown-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>') no-repeat center/contain;
  }
}

@include color-mode(light) {
  .sidebar {
    --s-sidebar-bg: #ffffff;
    --s-sidebar-text-color: #374151;
    --s-sidebar-border-color: #e5e7eb;
    --s-sidebar-hover-bg: #f3f4f6;
    --s-sidebar-active-text-color: #3b82f6;

    --s-sidebar-toggle-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#374151"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/> </svg>') no-repeat center/contain;
    --s-sidebar-nav-dropdown-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#374151"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>') no-repeat center/contain;
  }
}

.sidebar {
  --s-sidebar-space: 5px;
  --s-sidebar-border-radius: 0; //.375rem;
  --s-sidebar-nav-item-space: 5px;
  --s-sidebar-nav-icon-space: 8px;
  --s-sidebar-nav-icon-size: 24px;

  opacity: 0;
  visibility: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  padding: var(--s-sidebar-space);
  background-color: var(--s-sidebar-bg);
  border-right: 1px solid var(--s-sidebar-border-color);

  position: sticky;
  top: 0;
  align-self: start;
  transition: none;
  overflow: hidden;
  text-wrap: nowrap;

  &.ready {
    opacity: 1;
    visibility: visible;
    transition: width 300ms ease-in-out;
  }

  &.close {
    width: calc(
            var(--s-sidebar-space) +
            var(--s-sidebar-space) +
            var(--s-sidebar-nav-icon-size) +
            var(--s-sidebar-nav-icon-space) +
            var(--s-sidebar-nav-icon-space) +
            var(--s-sidebar-nav-item-space) +
            var(--s-sidebar-nav-item-space) + 1px);

    .sidebar-header {
      .sidebar-logo {
        display: none;
      }

      .sidebar-toggle {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    .sidebar-nav {

      a,
      .sidebar-dropdown {
        width: min-content;
      }

      a span,
      .sidebar-dropdown span {
        width: min-content;
        opacity: 0;
        display: none;
      }

      .sidebar-dropdown {
        &::after {
          display: none;
        }
      }
    }
  }

  .sidebar-header {
    box-sizing: border-box;
    display: flex;
    border-radius: var(--s-sidebar-border-radius);

    .sidebar-logo {
      font-weight: 600;
      border-radius: var(--s-sidebar-border-radius);
      padding-left: 10px;
      text-decoration: none;
      color: var(--s-sidebar-text-color);
      display: flex;
      align-items: center;
      gap: 1em;
      flex-grow: 1;
      transition: width 300ms ease-in-out;
    }


    .sidebar-toggle {
      align-items: center;
      padding: calc(var(--s-sidebar-nav-item-space) + var(--s-sidebar-nav-icon-space));
      border: none;
      border-radius: var(--s-sidebar-border-radius);
      background: none;
      cursor: pointer;

      &::after {
        content: ' ';
        display: block;
        width: 24px;
        height: 24px;
        background: var(--s-sidebar-toggle-arrow);
        transition: 150ms ease;
      }

      &:hover {
        background-color: var(--s-sidebar-hover-bg);
      }
    }
  }

  .sidebar-main {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .sidebar-nav {
    width: 100%;
    padding: 0;
    list-style: none;
    overflow: hidden;
    box-sizing: border-box;

    li {
      box-sizing: border-box;

      > a,
      > .sidebar-dropdown {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        border-radius: var(--s-sidebar-border-radius);
        padding: var(--s-sidebar-nav-item-space);
        text-decoration: none;
        color: var(--s-sidebar-text-color);
        display: flex;
        align-items: center;
        gap: var(--s-sidebar-nav-icon-space);
        min-width: 0;
        overflow: hidden;
        flex-shrink: 1;

        &:hover {
          background-color: var(--s-sidebar-hover-bg);
        }

        > i:first-child {
          padding: var(--s-sidebar-nav-icon-space);
          font-size: var(--s-sidebar-nav-icon-size);
        }

        > svg:first-child {
          flex-shrink: 0;
          fill: var(--s-sidebar-text-color);
          width: var(--s-sidebar-nav-icon-size);
          height: var(--s-sidebar-nav-icon-size);

        }

        > span {
          flex: 1;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: opacity 300ms ease-in-out;
        }
      }

      .sidebar-dropdown {
        text-align: left;
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;

        &::after {
          content: ' ';
          width: 24px;
          height: 24px;
          background: var(--s-sidebar-nav-dropdown-arrow);
          transition: transform 150ms ease;
        }

        &.rotate::after {
          transform: rotate(180deg);
        }
      }

      &.active a {
        color: var(--s-sidebar-active-text-color);

        svg:first-child {
          fill: var(--s-sidebar-active-text-color);
        }
      }

      > ul {
        overflow: hidden;
        box-sizing: border-box;
        max-height: 0;
        transition: max-height 200ms ease-in-out;

        &.show {
          display: block;
          max-height: 500px;
        }

        > li {
          > a,
          > .sidebar-dropdown {
            //padding-left: calc(var(--s-sidebar-nav-icon-size) + var(--s-sidebar-nav-item-space) + var(--s-sidebar-nav-item-space) + var(--s-sidebar-nav-icon-space) + var(--s-sidebar-nav-icon-space) + var(--s-sidebar-nav-icon-space) - 4px);
            padding-left: calc(var(--s-sidebar-space) +  var(--s-sidebar-nav-icon-size));
          }

          > a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          > ul {
            > li {
              a {
                padding-left: calc(10 * var(--s-sidebar-nav-item-space));
              }
            }
          }
        }
      }
    }
  }
}


@media(max-width: 800px) {
  .sidebar {
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--s-sidebar-border-color);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }

    ul li {
      height: 100%;
    }

    ul a,
    ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--s-sidebar-hover-bg);
      border-top: 1px solid var(--s-sidebar-border-color);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }

      li {
        display: inline-flex;
      }

      a {
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}