@use "mixin" as *;

@include color-mode(dark) {
  .sidebar {
    --s-sidebar-bg: #2b3035;
    --s-sidebar-text-color: #dee2e6;
    --s-sidebar-border-color: #374151;
    --s-sidebar-hover-bg: #212529;
    --s-sidebar-hover-text-color: #dee2e6;
    --s-sidebar-active-text-color: #3b82f6;

    --s-sidebar-toggle-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/> </svg>') no-repeat center/contain;
    --s-sidebar-nav-dropdown-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>') no-repeat center/contain;
  }
}

@include color-mode(light) {
  .sidebar {
    --s-sidebar-bg: #ffffff;
    --s-sidebar-text-color: #374151;
    --s-sidebar-border-color: #e5e7eb;
    --s-sidebar-hover-bg: #0d6efd;
    --s-sidebar-active-text-color: #3b82f6;
    --s-sidebar-hover-text-color: #fff;

    --s-sidebar-toggle-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#374151"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/> </svg>') no-repeat center/contain;
    --s-sidebar-nav-dropdown-arrow: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#374151"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>') no-repeat center/contain;
  }
}

.sidebar {
  --s-sidebar-space: 5px;
  --s-sidebar-border-radius: .375rem;
  --s-sidebar-nav-item-space: 5px;
  --s-sidebar-nav-icon-space: 8px;
  --s-sidebar-nav-icon-size: 24px;

  opacity: 0;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  position: sticky;
  top: 0;
  align-self: start;
  transition: none;
  text-wrap: nowrap;
  box-sizing: border-box;

  padding: var(--s-sidebar-space);
  background-color: var(--s-sidebar-bg);
  border-right: 1px solid var(--s-sidebar-border-color);

  &.ready {
    opacity: 1;
    visibility: visible;
    transition: width 300ms ease-in-out;
  }

  &.close {
    width: calc(
            var(--s-sidebar-space) +
            var(--s-sidebar-space) +
            var(--s-sidebar-nav-icon-size) +
            var(--s-sidebar-nav-icon-space) +
            var(--s-sidebar-nav-icon-space) +
            var(--s-sidebar-nav-item-space) +
            var(--s-sidebar-nav-item-space) + 1px);

    .sidebar-header {
      .sidebar-logo {
        display: none;
      }

      .sidebar-toggle {
        width: 100%;

        &::after {
          width: 100%;
          transform: rotate(180deg);
        }
      }
    }

    .sidebar-nav {
      li {
        &.open {
          position: relative;

          > ul {
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 1;

            padding: 5px;
            border: 1px solid var(--s-sidebar-border-color);
            box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
            border-radius: var(--s-sidebar-border-radius);

            a, button {
              padding-left: calc(var(--s-sidebar-space));
            }
          }
        }
      }
    }
  }

  .sidebar-header {
    display: flex;
    border-radius: var(--s-sidebar-border-radius);

    .sidebar-logo {
      font-weight: 600;
      border-radius: var(--s-sidebar-border-radius);
      color: var(--s-sidebar-text-color);
      padding-left: 10px;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1em;
      flex-grow: 1;
      transition: width 300ms ease-in-out;
    }

    .sidebar-toggle {
      align-items: center;
      padding: var(--s-sidebar-nav-item-space);
      border: none;
      border-radius: var(--s-sidebar-border-radius);
      background: none;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        width: var(--s-sidebar-nav-icon-size);
        height: var(--s-sidebar-nav-icon-size);
        background: var(--s-sidebar-toggle-arrow);
        transition: 150ms ease;
      }

      &:hover {
        background-color: var(--s-sidebar-hover-bg);
      }
    }
  }

  .sidebar-main {
    flex-grow: 1;
  }

  .sidebar-nav {

    li {

      > a,
      > .sidebar-dropdown {
        display: flex;
        width: 100%;
        box-sizing: border-box;

        border-radius: var(--s-sidebar-border-radius);
        padding: var(--s-sidebar-nav-item-space);
        color: var(--s-sidebar-text-color);
        gap: var(--s-sidebar-nav-icon-space);

        text-decoration: none;
        align-items: center;
        min-width: 0;

        &:hover {
          background-color: var(--s-sidebar-hover-bg);
          color: var(--s-sidebar-hover-text-color);
        }

        > i:first-child {
          padding: var(--s-sidebar-nav-icon-space);
          font-size: var(--s-sidebar-nav-icon-size);
        }

        > svg:first-child {
          flex-shrink: 0;
          fill: var(--s-sidebar-text-color);
          width: var(--s-sidebar-nav-icon-size);
          height: var(--s-sidebar-nav-icon-size);
        }

        > span {
          flex: 1;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: opacity 300ms ease-in-out;
        }
      }

      .sidebar-dropdown {
        text-align: left;
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;

        &::after {
          content: ' ';
          width: 24px;
          height: 24px;
          background: var(--s-sidebar-nav-dropdown-arrow);
          transition: transform 150ms ease;
        }

        &.rotate::after {
          transform: rotate(180deg);
        }
      }

      &.active {
        > ul {
          transition: max-height 200ms ease-in-out;
        }

        a {
          color: var(--s-sidebar-active-text-color);

          svg:first-child {
            fill: var(--s-sidebar-active-text-color);
          }
        }
      }

      > ul {
        background-color: var(--s-sidebar-bg);
        display: none;

        > li {
          > a,
          > .sidebar-dropdown {
            padding-left: calc(var(--s-sidebar-space) + var(--s-sidebar-nav-icon-size));
          }

          > a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          > ul {
            > li {
              a {
                padding-left: calc(10 * var(--s-sidebar-nav-item-space));
              }
            }
          }
        }
      }

      &.open {
        > ul {
          display: block;
          max-height: 500px;
        }
      }
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }
}


@media(max-width: 800px) {
  .sidebar {
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--s-sidebar-border-color);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }

    ul li {
      height: 100%;
    }

    ul a,
    ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      height: 60px;
      width: 100%;
      background-color: var(--s-sidebar-hover-bg);
      border-top: 1px solid var(--s-sidebar-border-color);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }

      li {
        display: inline-flex;
      }

      a {
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}